name: Build (Flatpak)

on:
    pull_request:
        branches: [ "main" ]

jobs:
    build:
        runs-on: ubuntu-latest
        container:
            image: ghcr.io/flathub-infra/flatpak-github-actions:freedesktop-24.08
            options: --privileged

        steps:
          - name: Checkout repository
            uses: actions/checkout@v4
            with:
                submodules: true

          - name: Build Flatpak
            uses: flatpak/flatpak-github-actions/flatpak-builder@v6
            with:
                manifest-path: com.crowdedstreet.thirdsx.yml
                bundle: 3SX.flatpak
                arch: x86_64
                cache-key: flatpak-builder-${{ github.sha }}
